.residents_container{
    width: 85%;
    padding: 1rem;

    background: #062226;
}
.residents_container h2{
    text-align: center;
    color: #C8CECF;
    margin-bottom: 2rem;
}
.ul_residents{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    list-style: none;
}