*,
*::after,
*::before{
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}
:root{
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FBFBFB;

  background: #05292E;

}
#root{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.controls_container{
  margin-top: 1rem;
  width: 71%;
  height: 70px;

  background: #062226;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.btn_randomLocation{
  width: 150px;
  height: 50px;

  color: #02B1C8;
  font-weight: 700;
  font-size: 15px;
}
.seach_container{
 display: flex;
 gap: 5px;
}
.seach_container input{
  width: 350px;
  height: 43px;
  text-align: center;
  border: none;

  background-color: #2e3f41;

  color: white;
  font-size: 18px;
}
.seach_container button{
  width: 50px;
  height: 43px;

}

