*,
*::after,
*::before{
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}
:root{
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #FBFBFB;

  background: #05292E;

}
#root{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

